.vscode

# ignore raw data and plots for now
# data/raw/
data/calibration/*.csv*
data/_OLD
*png

# Tmp files
tmp*
*dis

# Binaries
powerapp/powerapp
app/app_O0
app/*.old

# Calibration data
!data/pre-processed/*
!data/calibration/calibration.csv