.vscode

# Include also plots and raw data
data/_OLD
#data/raw/
#*png

# Tmp files
tmp*
*dis

# Binaries
powerapp/powerapp
app/app_O0
app/*.old

# Calibration data
!data/pre-processed/*
!data/calibration/calibration.csv